@{
    ViewData["Title"] = "Home Page";
}
<div class="block-display-center block-opacity" style="width:35%">
<div class="block-black block-opacity block-padding-large block-round-large">
    <h1 class="text-xlarge text-center">Congratulations</h1>
    <hr class="block-opacity" />
    <p class="text-center"><i>You are welcome to apply to other companies!</i></p>
</div> 
    </div>
@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
