@{
    ViewData["Title"] = "Home Page";
}
<div class="block-display-center block-opacity" style="width:35%">
<div class="block-black block-opacity block-padding-large block-round-large">
    <h3 class="text-center">Fortress Cybersecurity</h3>
    <hr />
    <p class="text-center"><i>Choose one of the options above to write, view, or pull a report.</i></p>
</div> 
    </div>
@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
